<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8"/>
    <title>SingUp</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"/>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
</head>
<body>
<form action="/login" method="POST">
    <a href="/registration" value="Inregistrare" class="btnRegister">Inregistrare</a>
    <label>Username</label>
    <input name="username" type="text"/>
    <label>Parola</label>
    <input name="password" type="password"/>
    <input type="submit"  value="Intra"/>
</form>
</body>
</html>